
.header {
    margin-bottom: 2rem;
}

.hero {
    width: 100%;
}


.copy {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5em 1em;
    text-align: center;


}

.clients {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 1.5rem 0.5rem;

}

.clients > img {
    max-width: 20%;
    max-height: auto;
}